<section class="volunteer-section">
  <div class="volunteer-section-content">
    <h2>Devino voluntar</h2>
    <p>
      Alătură-te echipei noastre dedicate pentru a oferi un refugiu sigur celor
      90 de suflete remarcabile de animale. Experimentează bucuria de a hrăni și
      de a îngriji aceste ființe minunate, fiind martor direct la vindecarea și
      fericirea lor. Ca voluntar, vei lega conexiuni cu alți iubitori de animale
      și vei contribui la o comunitate prosperă, plină de bunătate. Împreună,
      putem avea un impact profund asupra vieților rezidenților noștri
      necuvântători, încurajând în același timp dezvoltarea personală și o
      apreciere mai profundă pentru legătura remarcabilă dintre oameni și
      animale.
    </p>
    <div class="gallery-section">
      <div class="gallery-grid">
        <img
          *ngFor="let image of images; let i = index"
          [ngSrc]="image"
          alt="Gallery Image {{ i + 1 }}"
          class="gallery-image"
          (click)="openLightbox(i)"
          width="278.75"
          height="209.06"
        />
      </div>

      <div
        class="lightbox"
        *ngIf="lightboxOpen"
        (click)="onBackdropClick($event)"
      >
        <div class="lightbox-content" #lightboxContent>
          <span class="close" (click)="closeLightbox()">&times;</span>
          <a class="prev" (click)="prevImage()">❮</a>
          <ng-container *ngFor="let image of imagesScaled; let i = index">
            <img
              *ngIf="i === currentIndex"
              [ngSrc]="image"
              alt="Volunteer Image"
              class="lightbox-image"
              [width]="imageWidths[i]"
              [height]="imageHeights[i]"
            />
          </ng-container>
          <a class="next" (click)="nextImage()">❯</a>
        </div>
      </div>
    </div>
    <a routerLink="/volunteer" class="volunteer-link">Afla mai multe</a>
  </div>
</section>
