<section class="visit-us-section">
  <div class="visit-us-content">
    <h2 class="visit-us-title">Doresti sa ne vizitezi?</h2>
    <p class="visit-us-description">
      Drumul până la noi nu este cel mai ușor (decât dacă aveți un 4x4),
      deoarece ne aflăm în vârful muntelui. Însă, dacă ajungeți în Fundu
      Moldovei, este de ajuns să ne contactați și vom fi bucuroși să venim să vă
      preluăm de acolo. Ne bucurăm mereu să avem vizitatori și abia așteptăm să
      vă arătăm refugiul nostru. Gratuit, desigur!
    </p>
  </div>
</section>
