<section class="visit-us-section">
  <div class="visit-us-content">
    <h2 class="visit-us-title">Would you like to visit us?</h2>
    <p class="visit-us-description">
      It’s not the easiest ride (unless you have a 4×4), as we’re on the top of
      the mountain. But if you come to Fundu Moldovei, just contact us and we’d
      be happy to come and take you from there. We’re always happy to have
      visitors and we can’t wait to show you our haven. Free of charge, of
      course!
    </p>
  </div>
</section>
