.toolbar-content {
  max-width: 1160px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  z-index: 1; /* Ensure it stays above other content */
}

.main-toolbar {
  /* Adaugă un fundal semi-transparent pentru a asigura contrastul */
  background-color: rgba(20, 25, 35, 0.21);
  backdrop-filter: blur(26px); /* Efect de "sticlă mată" modern */
  -webkit-backdrop-filter: blur(8px);
  position: sticky;
  top: 0;
  z-index: 1000; /* Asigură că stă deasupra oricărui alt conținut */
  height: 80px;
}

.mat-mdc-button {
  color: white; 
  font-weight: bold;
}

.title {
  margin-left: 0.5rem;
  font-weight: bold;
}

.spacer {
  flex: 1 1 auto;
}

.nav-links {
  display: flex;
}

.menu-button {
  display: none;
  color: white;
}

.active-link {
  background-color: #e0e0e0; /* light highlight */
  color: #1976d2; /* primary color */
  font-weight: bold;
}

.logo {
  /* margin-top: 50px; */
  height: 80px; /* Adjusted for better visibility */
  width: auto; /* Maintain aspect ratio */
}

@media (max-width: 800px) {
  .nav-links {
    display: none;
  }

  .menu-button {
    display: inline-flex;
  }
}
