<section class="page-container">
  <!-- our-animals.component.html -->
  <main class="animal-gallery">
    <h1 class="gallery-title">Meet Our Animals</h1>
    <section class="grid">
      <div
        class="card"
        *ngFor="let animal of animals"
        (click)="openModal(animal)"
      >
        <img
          [ngSrc]="animal.image"
          width="600"
          height="600"
          [alt]="animal.name"
        />
        <div class="card-text">
          <h2>{{ animal.name }}</h2>
          <a href="#" class="learn-more" (click)="$event.preventDefault()"
            >Learn More</a
          >
        </div>
      </div>
    </section>

    <div class="modal" *ngIf="selectedAnimal" (click)="closeModal()">
      <div class="modal-content" (click)="$event.stopPropagation()">
        <span class="close" (click)="closeModal()">&times;</span>
        <img [src]="selectedAnimal.image" [alt]="selectedAnimal.name" />
        <h2>{{ selectedAnimal.name }}</h2>
        <p>{{ selectedAnimal.description }}</p>
      </div>
    </div>
  </main>
</section>
