/* You can add global styles to this file, and also import other style files */
/* 1. Importă toate fonturile într-un singur loc */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Lato:wght@300;400;700&display=swap");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Lato", sans-serif; /* Fontul implicit pentru tot textul */
  background-color: #f8f9fa; /* Culoarea de fundal implicită */
  color: #2c3e50; /* Culoarea textului implicită */
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif; /* Fontul implicit pentru toate titlurile */
}

.page-container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 1rem 2.5rem;
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: 1225px) {
  .page-container {
    padding: 1rem 1rem;
  }
}
