<!-- Acest banner va fi afișat doar dacă variabila 'isVisible' este true -->
<div *ngIf="isVisible" class="banner-container">
  <div class="banner-content">
    <div class="icon-container">
      <!-- Iconiță de avertizare -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
        />
      </svg>
    </div>
    <p class="banner-text">
      <strong>Mod de Testare Activat:</strong> Această platformă se află într-o
      perioadă de testare publică. Toate donațiile sunt simulate folosind modul
      de testare Stripe și **nu se vor retrage bani reali**. Vă mulțumim pentru
      ajutor și feedback!
    </p>
    <button
      (click)="dismissBanner()"
      class="close-button"
      aria-label="Închide notificarea"
    >
      &times;
    </button>
  </div>
</div>
